DATABASE_URL={{ vault_classcompass_database_url }}

WARCRAFTLOGS_CLIENT_ID={{ warcraftlogs_client_id }}
WARCRAFTLOGS_CLIENT_SECRET={{ vault_warcraftlogs_client_secret }}

BATTLENET_CLIENT_ID={{ battlenet_client_id }}
BATTLENET_CLIENT_SECRET={{ vault_battlenet_client_secret }}

NEXT_PUBLIC_TURNSTILE_SITE_KEY={{ turnstile_site_key }}
TURNSTILE_SECRET_KEY={{ vault_turnstile_secret_key }}

NEXT_PUBLIC_ADSENSE_CLIENT_ID={{ adsense_client_id }}

DISCORD_FEEDBACK_WEBHOOK_URL={{ vault_discord_feedback_webhook_url }}

CLOUDFLARE_TUNNEL_TOKEN={{ vault_cloudflare_tunnel_token }}
